:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --max-width: 80rem;
  --top-bar-height: 3rem;
  --background-color: #d4e2ff;
  --text-color: #012162;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-y: hidden;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  place-items: center;
  cursor: pointer;
  outline: none;
}

#app {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}
